@import '../../utils/variables';

.results {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  opacity: 0;
  animation: fade-in calc($golden-ratio-time / 4) ease-out
    forwards;

  h2 {
    margin: 0;
    align-self: flex-start;
  }

  &-count {
    h3 {
      b {
        color: $highlight-color;
      }
    }
  }

  &-name {
    position: relative;
    height: 400px;
    width: 100%;
    display: flex;
    align-items: flex-start;
    border: 2px solid $secondary-color;
    border-radius: 0.25rem;

    &--text {
      height: 100%;
      overflow-y: scroll;

      p {
        padding: 2rem 4rem;
        font-weight: 300;
        line-height: 1.5;
      }
    }

    &--prev,
    &--next {
      position: absolute;
      top: 50%;
      transform: scale(0);
      animation: scale-in calc($golden-ratio-time / 16)
        ease-out forwards;

      svg {
        cursor: pointer;
        width: 15px;
        height: 15px;

        path {
          stroke: $highlight-color;
        }
      }
    }

    &--prev {
      left: 15px;

      svg {
        transform: rotate(90deg);
      }
    }

    &--next {
      right: 15px;

      svg {
        transform: rotate(-90deg);
      }
    }

    &--overlay {
      position: absolute;
      left: 0;
      bottom: 0;
      height: 75px;
      width: 100%;
      background: linear-gradient(
        to top,
        rgba($primary-color, 1),
        rgba($primary-color, 0)
      );
    }
  }

  &-ctas {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;

    &--primary {
      width: 90%;

      button {
        background-color: $highlight-color !important;

        svg {
          path {
            stroke: $secondary-color;
          }
        }
      }
    }

    &--share {
      position: relative;
      width: 50px;

      &-button {
        cursor: pointer;
        width: 100%;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: none;
        border: 1px solid $secondary-color;
        border-radius: 50%;
      }

      &-social {
        position: absolute;
        bottom: 60px;
        left: 0;
        width: 100%;
        height: 100px;
        background-color: $primary-color;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 2;
        gap: 1rem;
        border: 2px solid $highlight-color;
        border-radius: 0.5rem;
        opacity: 0;
        animation: fade-in calc($golden-ratio-time / 8)
          ease-in-out forwards;

        svg {
          cursor: pointer;
          transform: scale(1);
          transition: calc($golden-ratio-time / 4) ease-in;
          opacity: 0;
          animation: fade-out calc($golden-ratio-time / 4)
            ease-in-out forwards;

          &:hover {
            transform: scale(1.1);
            transition: calc($golden-ratio-time / 4)
              ease-out;
          }
        }

        svg:first-child {
          opacity: 0;
          animation: fade-in calc($golden-ratio-time / 4)
            ease-in-out forwards;
          animation-delay: calc($golden-ratio-time / 32);
        }

        svg:last-child {
          opacity: 0;
          animation: fade-in calc($golden-ratio-time / 4)
            ease-in-out forwards;
        }
      }
    }
  }

  .hide-social {
    animation: fade-out calc($golden-ratio-time / 2)
      ease-in-out forwards;

    svg:first-child {
      opacity: 0;
      animation: fade-out calc($golden-ratio-time / 4)
        ease-in-out forwards;
    }

    svg:last-child {
      opacity: 0;
      animation: fade-out calc($golden-ratio-time / 4)
        ease-in-out forwards;
      animation-delay: calc($golden-ratio-time / 8);
    }
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes scale-in {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}
