@import '../../utils/variables';

.results {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  opacity: 0;
  animation: fade-in calc($golden-ratio-time / 4) ease-out
    forwards;

  &-name {
    height: 400px;
    width: 100%;
    display: flex;
    align-items: flex-start;
    border: 2px solid $secondary-color;
    border-radius: 0.25rem;
    p {
      padding: 2rem;
      font-weight: 300;
      line-height: 1.5;
    }
  }

  &-ctas {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;

    &--primary {
      width: 90%;

      button {
        background-color: $highlight-color !important;

        svg {
          path {
            stroke: $secondary-color;
          }
        }
      }
    }

    &--share {
      position: relative;
      width: 50px;

      &-button {
        cursor: pointer;
        width: 100%;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: none;
        border: 1px solid $secondary-color;
        border-radius: 50%;
      }

      &-social {
        position: absolute;
        bottom: 60px;
        left: 0;
        width: 100%;
        height: 100px;
        background-color: $primary-color;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 2;
        gap: 1rem;
        border: 2px solid $highlight-color;
        border-radius: 0.5rem;
        opacity: 0;
        animation: fade-in calc($golden-ratio-time / 8)
          ease-in-out forwards;

        svg {
          cursor: pointer;
          transform: scale(1);
          transition: calc($golden-ratio-time / 4) ease-in;
          opacity: 0;
          animation: fade-out calc($golden-ratio-time / 4)
            ease-in-out forwards;

          &:hover {
            transform: scale(1.1);
            transition: calc($golden-ratio-time / 4)
              ease-out;
          }
        }

        svg:first-child {
          opacity: 0;
          animation: fade-in calc($golden-ratio-time / 4)
            ease-in-out forwards;
          animation-delay: calc($golden-ratio-time / 8);
        }

        svg:last-child {
          opacity: 0;
          animation: fade-in calc($golden-ratio-time / 4)
            ease-in-out forwards;
        }
      }
    }
  }

  .open-social {
  }

  .hide-social {
    animation: fade-out calc($golden-ratio-time / 2)
      ease-in-out forwards;

    svg:first-child {
      opacity: 0;
      animation: fade-out calc($golden-ratio-time / 4)
        ease-in-out forwards;
    }

    svg:last-child {
      opacity: 0;
      animation: fade-out calc($golden-ratio-time / 4)
        ease-in-out forwards;
      animation-delay: calc($golden-ratio-time / 8);
    }
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
