@import '../../utils/variables';

.loader {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid $highlight-color;
  border-top: 2px solid $secondary-color;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
