@import '../../utils/variables';

.generic {
  &-list {
    position: absolute;
    left: 0;
    max-height: 175px;
    padding: 1rem;
    z-index: 99;
    border-radius: 0.25rem;
    border: 1px solid $shades-gray-200;
    box-shadow: 0px 0px 2px 2px rgba($shades-gray-200, 0.2);
    overflow-y: scroll;
    background-color: $primary-color;
    transform: scaleY(0);

    > input {
      height: 25px;
      padding: 0;
      padding-left: 0.5rem;
      margin: 0;
      border: 1px solid $shades-gray-200;

      &:focus-visible {
        border: 1px solid $highlight-color;
      }
    }

    ::placeholder {
      opacity: 0.2;
    }

    ul {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      font-weight: 300;
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 1rem;
        color: $secondary-color;
        transition: all ease-in-out
          calc($golden-ratio-time / 8);
        cursor: pointer;

        &:hover {
          color: $shades-black;
          transition: all ease-in-out
            calc($golden-ratio-time / 8);
        }
      }
    }
  }
}

.open {
  animation: open-list calc($golden-ratio-time / 8)
    ease-in-out forwards;
}

.close {
  animation: close-list calc($golden-ratio-time / 8)
    ease-in-out forwards;
}

@keyframes open-list {
  0% {
    transform: scaleY(0);
  }

  100% {
    transform: scaleY(1);
  }
}

@keyframes close-list {
  0% {
    transform: scaleY(1);
  }

  100% {
    transform: scaleY(0);
  }
}
