@import '../../utils/variables';

.hero {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &-left {
    width: 40%;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);

    h1 {
      animation: slide-in calc($golden-ratio-time / 4)
        ease-in-out forwards;

      b {
        color: $highlight-color;
      }
    }

    h2 {
      animation: slide-in calc($golden-ratio-time / 4)
        ease-in-out forwards;
    }

    &--input {
      margin-top: 4rem;
      animation: fade-in calc($golden-ratio-time / 2)
        ease-in-out forwards;

      form {
        height: 80px;
        overflow: visible;
      }

      label {
        text-transform: uppercase;
        font-weight: bold;
        font-size: $paragraph-two-size;
      }

      &-box {
        position: relative;
        margin-top: 1rem;

        input {
          width: 80%;
          height: 50px;
          padding-left: 1rem;
        }

        .loader,
        button {
          position: absolute;
          right: 120px;
          top: 15px;
        }

        button {
          background: transparent;
          border: none;

          svg {
            cursor: pointer;
            width: unset;
            height: unset;
            top: 20px;
            transform: scale(0);
            animation: scale-in
              calc($golden-ratio-time / 16) forwards;

            path {
              fill: $highlight-color;
              transform: scale(1);
              transition: all calc($golden-ratio-time / 16)
                ease-in-out;
            }

            &:hover {
              path {
                transform: scale(0.9);
                transition: all
                  calc($golden-ratio-time / 16) ease-in-out;
              }
            }
          }
        }
      }

      &-error {
        position: absolute;
        bottom: -10px;
        color: $red-error;
        font-size: $paragraph-two-size;
      }
    }
  }
}

@keyframes slide-in {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes scale-in {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}
