@import '../../utils/variables';

.secondary-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  border: none;
  border: 1px solid $secondary-color;
  border-radius: 50%;
  color: $secondary-color;
  cursor: pointer;
  transform: scale(1);
  transition: all calc($golden-ratio-time / 4) ease-in-out;

  &:focus {
    outline: none;
  }

  &:hover {
    transform: scale(0.99);
    border-color: $highlight-color;
    transition: all calc($golden-ratio-time / 4) ease-in-out;
  }
}
