@import '../../utils/variables';

.content {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;

  &-right {
    position: relative;
    width: 35%;
    z-index: 2;
  }

  &-left {
    width: 50%;
    align-self: flex-start;
    z-index: 2;

    &--filters {
      width: 100%;
      opacity: 0;
      animation: reveal-filters calc($golden-ratio-time / 2)
        ease-in-out forwards;

      &-second {
        margin-top: 2rem;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        &-shorts {
          height: 73px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 0.5rem;
        }
      }

      &-third {
        margin-top: 2rem;
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 10%;
      }

      &-four {
        width: 100%;
      }

      &-cta {
        display: flex;
        align-items: center;
        justify-content: space-between;

        button:first-child {
          width: 85%;
        }
      }
    }
  }

  &-bg {
    position: absolute;
    left: 450px;
    top: 120px;
    z-index: 1;

    svg {
      width: 650px;
      height: 650px;
      opacity: 0.02;
      pointer-events: none;
    }
  }
}

@keyframes slide-in {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes scale-in {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes reveal-filters {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* Smartphones (portrait and landscape) */
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .content {
    flex-direction: column;
    justify-content: center;
    margin-top: 0;

    &-left,
    &-right {
      width: 100%;
      margin-top: 2rem;
    }

    &-left {
      &--filters {
        &-first {
          width: 100%;
        }

        &-second {
          margin-top: 1.5rem;
          height: auto;
          flex-direction: column;

          &-shorts {
            margin-top: 1.5rem;
            width: 100%;
            justify-content: flex-start;
          }
        }

        &-third {
          margin-top: 1.5rem;
          flex-direction: column;
        }

        &-cta {
          button:first-child {
            width: 80%;
          }
        }
      }
    }

    &-bg {
      left: -50px;
      top: 100px;

      svg {
        width: 400px;
        height: 400px;
      }
    }
  }
}

/* Tablets (portrait) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
  .content {
    flex-direction: column;
    justify-content: center;
  }
}
