@import '../../utils/variables';

.content {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &-left,
  &-right {
    width: 40%;
  }

  &-left {
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);

    h1 {
      animation: slide-in calc($golden-ratio-time / 4)
        ease-in-out forwards;

      b {
        color: $highlight-color;
      }
    }

    h2 {
      animation: slide-in calc($golden-ratio-time / 4)
        ease-in-out forwards;
    }

    &--input {
      margin-top: 4rem;
      animation: fade-in calc($golden-ratio-time / 2)
        ease-in-out forwards;

      label {
        text-transform: uppercase;
        font-weight: bold;
        font-size: $paragraph-two-size;
      }

      &-box {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-top: 1rem;

        input {
          width: 80%;
          height: 50px;
          padding-left: 1rem;
        }

        svg {
          cursor: pointer;
          transform: translateX(-30px);

          path {
            fill: $highlight-color;
            transform: scale(1);
            transition: all calc($golden-ratio-time / 8)
              ease-in-out;
          }

          &:hover {
            path {
              transform: scale(0.9);
              transition: all calc($golden-ratio-time / 8)
                ease-in-out;
            }
          }
        }
      }
    }
  }

  &-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    &--filters {
      width: 100%;

      &-first {
      }

      &-second {
        margin-top: 2rem;
        height: 73px;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
      }

      &-third {
        margin-top: 2rem;
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: 10%;
      }

      &-four {
        width: 100%;
      }
    }
  }

  &-bg {
    position: absolute;
    left: -100px;
    top: 100px;
    pointer-events: none;

    svg {
      width: 1000px;
      height: 1000px;
      opacity: 0.02;
    }
  }
}

@keyframes slide-in {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* Smartphones (portrait and landscape) */
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .content {
    flex-direction: column;
    justify-content: center;
  }
}

/* Tablets (portrait) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
  .content {
    flex-direction: column;
    justify-content: center;
  }
}
