@import '../../utils/variables';

header {
  width: 100dvw;
  border-bottom: 1px solid rgba($secondary-color, 0.1);
}

.header {
  position: relative;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &-logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100px;

    svg {
      cursor: pointer;
      width: 40px;
      height: 40px;
      margin-right: 0.25rem;
      transform: scale(1);
      transition: calc($golden-ratio-time / 8) ease-in;

      &:hover {
        transform: scale(1.05);
        transition: calc($golden-ratio-time / 8) ease-in;
      }
    }

    p {
      font-size: $paragraph-two-size;
      font-weight: bold;
      text-transform: uppercase;
    }
  }

  &-right {
    width: 270px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    p {
      font-size: $paragraph-two-size;
      font-weight: 700;
      text-transform: uppercase;
    }

    &--links {
      width: 25%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      a {
        display: flex;
        align-items: center;
        justify-content: center;
        transform: scale(1);
        transition: calc($golden-ratio-time / 4) ease-in;
        cursor: pointer;

        &:hover {
          transform: scale(1.1);
          transition: calc($golden-ratio-time / 4) ease-out;
        }
      }
    }

    &--user {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 1rem;

      a {
        cursor: pointer;
        font-weight: bold;
      }

      p {
        font-weight: bold;
      }

      &-pic {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 1px solid $secondary-color;
        overflow: hidden;
        transform: scale(1);
        transition: calc($golden-ratio-time / 4) ease-in;

        &:hover {
          transform: scale(1.1);
          transition: calc($golden-ratio-time / 4) ease-out;
        }

        img {
          width: 100%;
        }

        svg {
          fill: $highlight-color;
        }
      }

      &-profile {
        position: absolute;
        top: 50px;
        right: 0;
        width: 300px;
        height: 250px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        padding: 1rem 0;
        z-index: 99;
        border-radius: 0.25rem;
        border: 1px solid $shades-gray-200;
        box-shadow: 0px 0px 2px 2px
          rgba($shades-gray-200, 0.2);
        overflow-y: scroll;
        background-color: $primary-color;
        transform: scale(0);
      }

      .no-border {
        border: none;
      }
    }
  }
}

.open-profile {
  animation: open-profile calc($golden-ratio-time / 8)
    ease-in-out forwards;
}

.close-profile {
  animation: close-profile calc($golden-ratio-time / 8)
    ease-in-out forwards;
}

@keyframes open-profile {
  0% {
    transform-origin: top right;
    transform: scale(0);
  }

  100% {
    transform-origin: top right;
    transform: scale(1);
  }
}

@keyframes close-profile {
  0% {
    transform-origin: right top;
    transform: scale(1);
  }

  100% {
    transform-origin: right top;
    transform: scale(0);
  }
}

/* Smartphones (portrait and landscape) */
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .header {
    height: 90px;

    &-right {
      justify-content: flex-end;
      gap: 2rem;
    }
  }
}
