@import '../../utils/variables';

header {
  width: 100dvw;
  border-bottom: 1px solid rgba($secondary-color, 0.1);
}

.header {
  position: relative;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &-logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100px;

    svg {
      cursor: pointer;
    }

    p {
      font-size: $paragraph-two-size;
      font-weight: bold;
      text-transform: uppercase;
    }
  }

  &-right {
    width: 270px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &--links {
      width: 25%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      a {
        display: flex;
        align-items: center;
        justify-content: center;
        transform: scale(1);
        transition: calc($golden-ratio-time / 4) ease-in;
        cursor: pointer;

        &:hover {
          transform: scale(1.1);
          transition: calc($golden-ratio-time / 4) ease-out;
        }
      }
    }

    &--user {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 1rem;

      a {
        cursor: pointer;
        font-weight: bold;
      }

      p {
        font-weight: bold;
      }

      &-pic {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 1px solid $secondary-color;
        overflow: hidden;
        transform: scale(1);
        transition: calc($golden-ratio-time / 4) ease-in;

        &:hover {
          transform: scale(1.1);
          transition: calc($golden-ratio-time / 4) ease-out;
        }

        img {
          width: 100%;
        }

        svg {
          fill: $highlight-color;
        }
      }

      .no-border {
        border: none;
      }
    }
  }
}

/* Smartphones (portrait and landscape) */
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .header {
    height: 90px;

    &-right {
      justify-content: flex-end;
      gap: 2rem;
    }
  }
}
