footer {
  width: 100dvw;
}

.footer {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    svg {
      margin-left: 0.5rem;
    }
  }
}

/* Smartphones (portrait and landscape) */
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .footer {
    margin-top: 2rem;
    height: auto;
  }
}
