@import '../../utils/_variables.scss';

footer {
  width: 100dvw;
}

.footer {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &-left {
    position: relative;

    button {
      width: 120px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;
      background: none;
      color: $secondary-color;
      font-weight: 400;
    }

    &--form {
      position: absolute;
      bottom: 50px;
      left: 0;
      width: 350px;
      height: 300px;
      padding: 1rem 2rem;
      border-radius: 0.25rem;
      scale: 1 0;
      transition: scale calc($golden-ratio-time / 8)
        ease-in-out;
      box-shadow: 0px 0px 2px 2px
        rgba($shades-gray-200, 0.2);
      background-color: $primary-color;
      border: 1px solid $highlight-color;
      z-index: 99;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      gap: 1rem;

      p {
        color: $red-error;
        font-size: 12px;
        margin: 0;
        align-self: flex-start;
      }

      input {
        height: 20%;
        width: 100%;
        padding: 0;
        padding-left: 0.5rem;
        margin: 0;
        border: 1px solid $shades-gray-400;

        &:focus-visible {
          border: 1px solid $highlight-color;
        }
      }

      ::placeholder {
        opacity: 0.2;
      }

      textarea {
        height: 75%;
        width: 100%;
        width: 100%;
        margin: 0;
        border: 1px solid $shades-gray-400;
        background: $primary-color;
        resize: none;

        &:focus-visible {
          border: 1px solid $highlight-color;
        }
      }

      button {
        align-self: flex-end;
        width: 100px;
        padding-right: 0;

        span {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: flex-end;
          font-weight: 300;
          gap: 0.5rem;

          svg {
            width: 10px;
          }
        }
      }
    }
  }

  &-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    svg {
      margin-left: 0.5rem;
    }
  }
}

.open-form {
  scale: 1 1;
  transition: scale calc($golden-ratio-time / 8) ease-in-out;
}

.close-form {
  scale: 1 0;
  transition: scale calc($golden-ratio-time / 8) ease-in-out;
}

/* Smartphones (portrait and landscape) */
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .footer {
    position: relative;
    margin-top: 2rem;
    height: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &-left {
      width: 40%;

      button {
        width: 100%;
      }

      &--form {
        width: 270px;
        left: -77%;
      }
    }
  }
}
