@import '../../utils/variables';

.gender {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &-input {
    position: relative;
    width: 110px;

    &--top {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 0.75rem;

      p {
        max-width: 50%;
        font-weight: 300;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow-x: hidden;
        margin: 0;
      }

      &-right {
        &--arrow {
          display: flex;
          align-items: center;
        }
      }
    }
  }
}

/* Smartphones (portrait and landscape) */
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .gender {
    width: calc(100% / 3);

    &-input {
      width: 100%;
      &--top {
        p {
          max-width: unset;
        }
      }
    }
  }
}
