@import '../../utils/variables';

.letter-start {
  height: 100%;
  width: 15%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  input {
    width: 100%;
    border: none;
    font-size: $paragraph-one-size;

    &:focus-visible {
      border: none;
      outline: none;
    }
  }

  input,
  ::placeholder {
    text-transform: uppercase;
    font-weight: 700;
  }

  ::placeholder {
    opacity: 0.5;
  }
}
