@import '../../utils/variables';

.longitude {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &-selectors {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
  }

  &-input {
    position: relative;
    width: 175px;

    &--top {
      cursor: pointer;
      width: auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 0.75rem;

      p {
        max-width: fit-content;
        font-weight: 300;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow-x: hidden;
        margin: 0;
      }

      &-right {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 1rem;

        &--flag {
          width: 30px;
          height: 30px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          background-color: $shades-gray-200;
          overflow: hidden;
          border: 1px solid rgba($shades-gray-200, 0.2);

          img {
            height: 100%;
            width: 100%;
            object-fit: cover;
          }

          .loader {
            width: 50%;
            height: 50%;
          }
        }

        &--arrow {
          width: 30px;
          display: flex;
          align-items: center;
        }
      }
    }
  }
}
