@import '../../utils/variables';

.longitude {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &-selectors {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
  }

  &-input {
    position: relative;

    &--top {
      cursor: pointer;
      width: auto;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 0.75rem;

      p {
        max-width: fit-content;
        font-weight: 300;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow-x: hidden;
        margin: 0;
      }

      &-right {
        &--arrow {
          width: 30px;
          display: flex;
          align-items: center;
        }
      }
    }
  }
}
