@import '../../utils/variables';

.nationality {
  h3 {
    margin-top: 3rem;
  }

  &-selectors {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
  }

  &-input {
    position: relative;
    width: 175px;

    &--top {
      width: auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 0.75rem;

      p {
        max-width: 40%;
        font-weight: 300;
        white-space: nowrap;
        overflow-x: hidden;
      }

      &-right {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 1rem;

        &--flag {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          background-color: $shades-gray;
          overflow: hidden;
          border: 1px solid rgba($shades-gray, 0.2);

          img {
            height: 100%;
            width: 100%;
            object-fit: cover;
          }
        }

        &--arrow {
          height: 30px;
          width: 30px;
          display: flex;
          align-items: center;
          cursor: pointer;
        }
      }
    }

    &--list {
      position: absolute;
      top: 50px;
      left: 0;
      width: 100%;
      height: 175px;
      z-index: 99;
      border-radius: 0.25rem;
      border: 1px solid $shades-gray;
      box-shadow: 0px 0px 2px 2px rgba($shades-gray, 0.2);
      overflow-y: scroll;
      transform: scaleY(0);

      ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        font-weight: 300;
        list-style: none;
        padding: 1rem;
        padding-top: 0;
        margin: 0;

        li {
          cursor: pointer;
          margin-top: 1rem;
        }

        li:first-child {
          width: 100%;
          height: 25px;

          input {
            width: 100%;
            height: 100%;
            padding: 0;
            margin: 0;
            border: 1px solid $shades-gray;
          }
        }
      }
    }
  }
}

.show-list {
  animation: show-list $golden-ratio-time / 16 ease-in-out
    forwards;
}

.hide-list {
  animation: hide-list $golden-ratio-time / 16 ease-in-out
    forwards;
}

@keyframes show-list {
  0% {
    transform: scaleY(0);
    transform-origin: top;
  }

  100% {
    transform: scaleY(1);
  }
}

@keyframes hide-list {
  0% {
    transform: scaleY(1);
    transform-origin: bottom;
  }

  100% {
    transform: scaleY(0);
  }
}
