@import '../../utils/variables';

.nature {
  height: 100%;
  max-width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &-input {
    position: relative;

    &--top {
      min-height: 35px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 0.5rem;
      cursor: pointer;

      p {
        padding: 0.5rem;
        max-width: 80%;
        font-weight: bold;
        font-size: $paragraph-two-size;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow-x: hidden;
        margin: 0;
        border: 1.5px solid $highlight-color;
        border-radius: 0.25rem;
        transform: scale(0);
        animation: scale-show calc($golden-ratio-time / 6)
          ease-in-out forwards;
      }

      span {
        font-weight: 300;
      }

      &-right {
        &--arrow {
          display: flex;
          align-items: center;
        }
      }
    }

    .hide {
      animation: scale-hide calc($golden-ratio-time / 6)
        ease-in-out forwards;
    }
  }
}

@keyframes scale-show {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes scale-hide {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

/* Smartphones (portrait and landscape) */
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .nature {
    max-width: 100%;
    margin-top: 1.5rem;
  }
}
