@import '../../utils/variables';

.zodiac {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;

  h3 {
    margin-bottom: 1.5rem;
  }

  &-signs {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;

    &--item {
      display: flex;
      flex-direction: column;
      align-items: center;

      svg {
        cursor: pointer;
        width: 24px;
        height: 24px;
        opacity: 0.4;
        transition: all calc($golden-ratio-time / 8)
          ease-out;

        &:hover {
          opacity: 1;
          transition: all calc($golden-ratio-time / 8)
            ease-in;
        }
      }

      label {
        font-size: 0.75rem;
        text-transform: uppercase;
        margin-top: 1rem;
      }
    }

    .sign-active {
      svg {
        opacity: 1;
        transition: all calc($golden-ratio-time / 8) ease-in;
      }
    }
  }
}
