@import '../../utils/variables';

.zodiac {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;

  h3 {
    margin-bottom: 1.5rem;
  }

  &-signs {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;

    &--item {
      display: flex;
      flex-direction: column;
      align-items: center;
      cursor: pointer;

      svg {
        width: 24px;
        height: 24px;
        opacity: 0.4;
        transition: all calc($golden-ratio-time / 8)
          ease-out;

        &:hover {
          opacity: 1;
          transition: all calc($golden-ratio-time / 8)
            ease-in;
        }
      }

      label {
        cursor: pointer;
        font-size: 0.75rem;
        text-transform: uppercase;
        margin-top: 1rem;
        border-bottom: 1px solid transparent;
        transition: all calc($golden-ratio-time / 8)
          ease-out;

        &:focus-visible {
          background: none;
        }
      }
    }

    .sign-active {
      svg {
        opacity: 1;
        transition: all calc($golden-ratio-time / 8) ease-in;
      }

      label {
        font-weight: 700;
        border-bottom: 1px solid $highlight-color;
        transition: all calc($golden-ratio-time / 8)
          ease-out;
      }
    }
  }
}

/* Smartphones (portrait and landscape) */
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .zodiac {
    h3 {
      margin-bottom: 0.5rem;
    }

    &-signs {
      max-width: 100%;
      height: auto;
      gap: unset;

      &--item {
        margin-top: 1rem;
        align-items: flex-start;
        flex-basis: calc(100% / 6);
      }
    }
  }
}
