@import '../src/utils/variables';

body {
  width: 100dvw;
  min-width: 320px;
  margin: 0;
}

#root {
  width: 100%;
  display: flex;
  place-items: center;

  font-family: $primary-font-family;
  font-size: 1rem;
  line-height: normal;
  font-weight: 400;

  color-scheme: light dark;
  color: $secondary-color;
  background-color: $primary-color;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

h1 {
  font-size: $heading-one-size;
}

h2 {
  font-size: $heading-two-size;
  font-weight: 300;
}

h3 {
  font-size: $heading-three-size;
  font-weight: 400;
}

p,
a {
  font-size: $paragraph-one-size;
}

a {
  color: inherit;
  text-decoration: none;
}

input {
  box-sizing: border-box;
  border-radius: 0.25rem;
  border: 2px solid $secondary-color;
  background: none;
  border: 2px solid $secondary-color;
  transition: all calc($golden-ratio-time / 8) ease-in-out;

  &:focus-visible {
    outline: none;
    border: 2px solid $highlight-color;
    transition: all calc($golden-ratio-time / 8) ease-in-out;
  }
}

::placeholder {
  opacity: 0.5;
}

input,
::placeholder {
  color: $secondary-color;
  font-family: inherit;
}

button {
  border-radius: 0.5rem;
  border: 1px solid transparent;
  font-size: $paragraph-one-size;
  font-weight: 700;
  font-family: inherit;
  background-color: $secondary-color;
  cursor: pointer;
}

button:hover {
  border-color: none;
}

button:focus,
button:focus-visible {
  outline: none;
}

::selection {
  background-color: $shades-gray-200;
}

svg {
  width: 20px;
  height: 20px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: $secondary-color;
    background-color: rgba($primary-color, 0.87);
  }
}

/* Smartphones (portrait and landscape) */
@media only screen and (min-width: 320px) and (max-width: 480px) {
  body {
    overflow-x: hidden;
    overflow-y: auto;
  }

  input {
    font-size: $paragraph-two-size-mobile;
  }
  h1 {
    font-size: $heading-one-size-mobile;
  }

  h2 {
    font-size: $heading-two-size-mobile;
  }

  h3 {
    font-size: $heading-three-size-mobile;
    font-weight: 400;
  }

  p {
    font-size: $paragraph-one-size-mobile;
  }
}

/* Tablets (portrait) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
}
