@import '../src/utils/variables';

body {
  width: 100dvw;
  height: 100dvh;
  margin: 0;
}

#root {
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  overflow: hidden;

  font-family: $primary-font-family;
  font-size: 1rem;
  line-height: normal;
  font-weight: 400;

  color-scheme: light dark;
  color: $secondary-color;
  background-color: $primary-color;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

h1 {
  font-size: $heading-one-size;
}

h2 {
  font-size: $heading-two-size;
  font-weight: 300;
}

h3 {
  font-size: $heading-three-size;
  font-weight: 400;
}

p {
  font-size: $paragraph-one-size;
}

input {
  border-radius: 0.25rem;
  border: 2px solid $secondary-color;
  background: none;
}

input,
::placeholder {
  color: $secondary-color;
  font-family: inherit;
}

button {
  border-radius: 0.5rem;
  border: 1px solid transparent;
  font-size: $paragraph-one-size;
  font-weight: 700;
  font-family: inherit;
  background-color: $secondary-color;
  cursor: pointer;
}

button:hover {
  border-color: none;
}

button:focus,
button:focus-visible {
  outline: none;
}

::selection {
  background-color: $shades-gray-200;
}

@media (prefers-color-scheme: light) {
  :root {
    color: $secondary-color;
    background-color: rgba($primary-color, 0.87);
  }
}
